@font-face {
    font-family: 'IBMPlex';
    font-weight: 400;
    src: url('fonts/IBMPlexSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'IBMPlex';
    font-style: italic;
    font-weight: 400;
    src: url('fonts/IBMPlexSans-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'IBMPlex';
    font-weight: 500;
    src: url('fonts/IBMPlexSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'IBMPlex';
    font-weight: 500;
    font-style: italic;
    src: url('fonts/IBMPlexSans-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'IBMPlex';
    font-weight: 700;
    src: url('fonts/IBMPlexSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'IBMPlex';
    font-weight: 700;
    font-style: italic;
    src: url('fonts/IBMPlexSans-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'AmaticSC';
    font-weight: 400;
    src: url('fonts/AmaticSC-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'AmaticSC';
    font-weight: 700;
    src: url('fonts/AmaticSC-Bold.ttf') format('truetype'); 
}
