button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 0;
	outline: none;
	/*border-color: $color__border-button;*/
	border-radius: 20px;
	background: $color__background-button;
	color: rgba(0, 0, 0, .8);
	@include font-size(1);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}

	&.btn{

		cursor: hand;
		cursor: pointer;

		&.btn-magenta{

			background-color: $magenta;
			color: $bl;
		}
		
		
	}
}
